<a href="/">Home</a>
<h1>Products</h1>
<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
	<% @products.each do |product| %>
		<li>
			<div class="product">
				<a href="/products/<%= product.id %>"><h3><%= product.name %></h3></a>
				<% if product.image? %>
					<%= image_tag product.image.url %>
				<% end %>
				<p><%= product.description %></p>
			</div>
		</li>
	<% end %>
</ul>
